.sidebar {
	width: 200px;
	float: right;
}

.posts{
	float: left;
	width: 500px;
	font-family: 'Hammersmith One', sans-serif;
}

#container{
	margin-left: auto;
	margin-right: auto;
	width: 720px;
}

.menuitems ul{
	list-style-type: none;
}

.menuitems li{
	text-decoration: none;
}

body{
	background-color: #EEF2D3;
	color: black;
}

blockquote{
	background: #969985;
	font: italic;
}

a {
	color: orange;
}
