---
layout: main
title: This is a blog
---

<div class="sidebar">
    <div>
        
    </div>

    <div class="menuitems">
        <ul>
            <li>Lookee here:</li>
            <li><a href="http://twitter.com/#!/Ronnie76er"><div><img src="/images/twitter-pixel.png">Twitter</div></a></li>
            <li><a href="http://www.facebook.com/Ronnie76er"><img src="/images/facebook.png">Facebook</a> </li>
            <li><a href="http://www.linkedin.com/pub/ron-alleva/3/552/5ba"><img src="/images/linkedin.png">LinkedIn</a> </li>
            <li><a href="http://www.flickr.com/photos/ronnie76er/"><img src="/images/flickr.png">Flickr</a> </li>
        </ul>
    </div>
</div>
<div class="posts">

{{content}}
</div>