---
layout: main
title: This is a blog
---

<div class="sidebar">
    <div>
        
    </div>

    <div class="menuitems">
        <ul>
            <li><a href="http://twitter.com/#!/Ronnie76er"><img src="/images/twitter-circle.png"></a></li>
            <li><a href="http://www.facebook.com/Ronnie76er"><img src="/images/facebook-circle.png"></a> </li>
            <li><a href="http://www.linkedin.com/pub/ron-alleva/3/552/5ba"><img src="/images/linkedin-circle.png"></a> </li>
            <li><a href="http://www.flickr.com/photos/ronnie76er/"><img src="/images/flickr-circle.png"></a> </li>
            <li><a href="http://feeds.feedburner.com/RonAllevaBlog">Subscribe</a></li>
            <li><a href="/archive.html">Archive</a></li>
        </ul>
    </div>
</div>
<div class="posts">

{{content}}
</div>