---
layout: main
---

<div class="sidebar">
    <div>
        
    </div>

    <div class="menuitems">
        <h3> Hi I'm Ron. I software things for <a href="konciergeMD.com">konciergeMD</a></h3>
<script type="text/javascript">
//<![CDATA[
<!--
var x="function f(x){var i,o=\"\",l=x.length;for(i=0;i<l;i+=2) {if(i+1<l)o+=" +
"x.charAt(i+1);try{o+=x.charAt(i);}catch(e){}}return o;}f(\"ufcnitnof x({)av" +
" r,i=o\\\"\\\"o,=l.xelgnhtl,o=;lhwli(e.xhcraoCedtAl(1/)3=!01)3t{yrx{=+;x+ll" +
"=};acct(h)e}{f}roi(l=1-i;=>;0-i)-o{=+.xhcratAi(;)r}teru n.oussbrt0(o,)l};(f" +
")\\\"02,1\\\"\\\\30\\\\01\\\\02\\\\\\\\4$'9:vt/-B`ghf?F\\\\\\\\\\\\\\\\7 03" +
"\\\\\\\\25\\\\0V\\\\30\\\\03\\\\03\\\\\\\\21\\\\03\\\\00\\\\\\\\H)[401\\\\0" +
"6\\\\01\\\\\\\\24\\\\07\\\\z(nz\\\\\\\\=9`3# +)2#00\\\\\\\\H!VYWT32\\\\0\\\\"+
"\\\\\\\\\\\\_\\\\\\\\\\\\\\\\\\\\26\\\\0E\\\\\\\\\\\\\\\\\\\\MJMC@<~'fs0z0o" +
" (hhtg24\\\\0t\\\\\\\\\\\\16\\\\0Y\\\\01\\\\05\\\\03\\\\\\\\24\\\\02\\\\00\\"+
"\\\\\\30\\\\00\\\\01\\\\\\\\06\\\\03\\\\00\\\\\\\\\\\"\\\\f(;} ornture;}))+" +
"+(y)^(iAtdeCoarchx.e(odrChamCro.fngriSt+=;o27=1y%+;y+2)10i<f({i+)i+l;i<0;i=" +
"r(foh;gten.l=x,l\\\"\\\\\\\"\\\\o=i,r va){,y(x fontincfu)\\\"\")"            ;
while(x=eval(x));
//-->
//]]>
</script>



        <hr>
		  <h3>Side Projects</h3>
	     <ul>
		     	<li><a href="/pages/conky-hudson.html" >Conky Hudson</a></li>
  		     	<li><a href="/pages/dual-map.html" >Dual Map</a></li>
		     	<li><a href="/pages/maven-jmeter-plugin.html" >Maven JMeter Plugin</a></li>		     	
			<li><a href="https://github.com/Ronnie76er/sleepwords" >Sleepwords</a></li>
	     </ul>
	     <hr>        
        <ul>
            <li><a href="http://twitter.com/#!/Ronnie76er"><img src="/images/twitter-circle.png"></a></li>
            <li><a href="http://www.linkedin.com/pub/ron-alleva/3/552/5ba"><img src="/images/linkedin-circle.png"></a> </li>
	         <li><a href="http://www.facebook.com/Ronnie76er"><img src="/images/facebook-circle.png"></a> </li>
            <li><a href="http://www.flickr.com/photos/ronnie76er/"><img src="/images/flickr-circle.png"></a> </li>
        </ul>
        
    </div>
</div>
<div class="posts">

{{content}}

<hr/>
<div class="footer">
    <span class="copyright">Copyright &copy; 2008-2011 Ron Alleva</span>
    <span class="design-by">Designed by <a href="http://alisonmaehinch.com">AlisonMaeHinch.com</a></span>
</div>

</div>
