<html>
    <head>  
        <link rel="stylesheet" media="screen" type="text/css" href="/css/styles.css">   
        <link rel="stylesheet" media="screen" type="text/css" href="/css/syntax.css">
        <link href='http://fonts.googleapis.com/css?family=Hammersmith+One&v2' rel='stylesheet' type='text/css'>
    </head>
    
    <body>

        <div id="container">
            <div id="blogtitle">
                <a href="/"><img src="/images/R76er.png"></a>
            </div>

            {{content}}
        </div>
    </body>
</html>